{% extends "base.html" %}


{% block titulo %} Eventos {% endblock %}

{% block contenido %}


    <h1>{{ event }}</h1>
    <br/>
    <div class="card">
        <div class="card-header">
            <strong> {{ event }}</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ event.event_date }}</h5>
          <p class="card-text">
            <ul>
                <li>Nombre: {{event.Name}}</li>
                <li>Fecha: {{ event.event_date }}</li>
                <li>Descripción: {{ event.description }}</li>
                </li>
            </ul>
          </p>
        </div>
    </div>    

    <a class="btn btn-success btn-sm" href="{% url 'eventos' %}" role="button">Página anterior</a>





{% endblock %}