{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<h1>Quiénes somos y qué hacemos</h1>
<br>
<h2>Nuestro equipo</h2>

<h5>Forman parte del Equipo Directivo:</h5>

<ul>
    <li>Rector: Gustavo Toranzo.</li>
    <li>Secretario Académico: Raúl Peñaflor.</li>
    <li>Director de Estudio Economía Social y Desarrollo Local: Enrique Zarabozo.</li>
    <li>Directora de Estudios Gestión Ambiental: Maximiliano Fernández.</li>
    <li>Representante Legal: Adriana Azcona</li>
    <li>Bedeles: Malvinas Linda Ojeda, González Susana de la Cruz.</li>
</ul>
<br>
<h2>Misión y visión</h2>

<p>Somos la Primera Institución en implementar la formación Técnica en Economía Social y Desarrollo Local en la Provincia del Chaco y actualmente la Única en el País que dicta esta especialización complementada con conocimientos en derechos portuarios y aduaneros, comercio internacional y énfasis en el manejo técnico de los idiomas Castellano, Inglés y Portugués.</p>

<p>También desde la formación de sus cuadros técnicos en Gestión Ambiental hemos aportado desde profesionales que no solo fueron los diseñadores de plantas de reciclado de residuos sólidos urbanos, sino que hoy mismo las conducen; hasta profesionales que permanentemente diseñan, implementan y gestionan en la provincia proyectos nacionales e internacionales con financiamiento externo. Mantenemos Convenios de colaboración interinstitucional con Municipios de la Provincia del Chaco sino también con la comuna de la Provincia de Santa Fe como de Villa Guillermina.</p>

<p>Nuestras carreras tienen distintas modalidades de cursado y hemos implementando una modelo Académico Virtual y dar mayor soporte digital a todos nuestros alumnos. Esto lo hacemos con esfuerzo e iniciativa propia para justamente convertirnos en referencia de excelencia académica y proyección profesional dentro del campo Académico Superior de la zona Sur del Gran Resistencia.</p>

<p>Para este 2021 el M.E.C.C.yT ha dictado la resolución ministerial, por la que autoriza a la U.E.G.P. No161 “Instituto BARRANQUERAS” iniciar el dictado, sin subvención, de las Tecnicaturas Superiores en:</p>

<ol>
    <li>Administración Municipal</li>
    <li>Desarrollo de Software</li>
</ol>

<p>Esta trascendente autorización alcanzada coloca a la Institución frente a un hermoso desafío que para el cumplimiento de las metas que requiere la implementación de las mismas, se toma la decisión de conformar la U.A.C. (Unidad Administrativa Contable).</p>

<p>Desde el enfoque en la cuestión Administrativa Contable, se pretende de esta Unidad de Gestión obtener la información necesaria para planificar. Asimismo se apunta a la obtención de esta información otorgando más importancia a los datos cualitativos y a los costes, utilizándolos en el análisis de las decisiones como estimaciones para predecir el futuro de la esta línea de Servicio.</p>

{% endblock %}
