{% extends "base.html" %}

{% block titulo %} Noticias {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        
        {% if user.es_administrador or user.is_superuser %}
            <a name="" id="" class="btn btn-success" href="{% url 'crear_noticia' %}" role="button">Agregar noticia</a>

        {% endif %}
            
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Noticias</h4>
        
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Título</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                {% for n in noticias %}
                    
                <tbody>
                    <tr>
                        <td>{{n.created_date}}</td>
                        <td>{{n.title}}</td>
                        <td>foto.png</td>
                        <th><a name="" id="" class="btn btn-info" href="{% url 'detalle' n.id %}" role="button">Leer</a> | 
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_noticia' %}" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-info" href="#" role="button">Borrar</a></th>
                    </tr>
                </tbody>

                {% endfor %}
            </table>
            
    </div>

</div>

{% endblock %}