{% extends "base.html" %}

{% block titulo %} Contacto {% endblock %}

{% block contenido %}

<h1>Contactanos</h1>
<br>
<h2>Visitanos en esta dirección:</h2>

<h5>Diagonal Eva Perón 425 - Barranqueras - Chaco</h5>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.564682914767!2d-58.945032784420505!3d-27.48280872384154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572b5f0372531%3A0xdac449dfe0238d5b!2sDiag.%20Eva%20Per%C3%B3n%20425%2C%20H3503%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1661780106142!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>

<h2>Hablanos a este número:</h2>
<h5>Gustavo Toranzo - cel: 3482 60-3586</h5>

<br>

<h2>Visita nuestras redes</h2>
<h4><a href="https://www.instagram.com/institutobarranqueras/">Instagram</a></h4>
<h4><a href="https://www.facebook.com/institutobarranqueras">Facebook</a></h4>
{% endblock %}