{% extends 'base.html' %}
{% block contenido %}
<main class="form-signin w-100 m-auto">
    <form method="POST">{% csrf_token %}
        <br>
        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

        {% include 'includes/error_forms.html' %}
        
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
            <label for="floatingInput">Nombre de usuario</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        
        <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin:10px;">Iniciar Sesión</button>
    </form>
        
        <a href="{% url 'main' %}"><button class="w-100 btn btn-lg btn-primary">Volver al Home</button></a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>

</main>

{% endblock contenido %}